.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addProductButton {
  height: 30px;
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
.newMovieTitle{
  padding: 10px;
}
.uploadBackground{
  width: 100%;
  height: 100vh;
  background: #141414;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.loading{
  position: relative;
}

.loadingPercent{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.precent{
  background: white;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid red;
}

.realLoading{
  position: absolute;
  top: 2;
  left: 2;
  height: 50px;
  background: #141414;
}